.hero-button,
.button {
  border: none;
  cursor: pointer;
}

.hero-button {
  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);

  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color-secondary);
}

.button-sigh-up {
  margin-left: 12px;
  text-align: left;
  padding-left: 28px;
}

.footer-button-modal-icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;

  transition: box-shadow var(--duration) var(--timing-function);
}

/* -------------------------------------------------------------------------- */
/*                                Footer button                               */
/* -------------------------------------------------------------------------- */

.footer-button-modal-icon:hover .footer-button-modal-icon:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -------------------------------------------------------------------------- */
/*                              Portfolio button                              */
/* -------------------------------------------------------------------------- */

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: var(--third-background-color);

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);

  color: var(--title-text-color);
  background-color: var(--third-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
}

.button:not(:last-child) {
  display: inline-block;
  margin-right: 8px;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -------------------------------------------------------------------------- */
/*                             Button modal submit                            */
/* -------------------------------------------------------------------------- */

.button-modal-submit {
  transition: box-shadow var(--duration) var(--timing-function);
}

.button-modal-submit:focus .button-modal-submit:hover {
  outline: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
