.hero-button,
.button {
  border: none;
  cursor: pointer;
}

.hero-button {
  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);

  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;

  &:hover,
  &:focus {
    background-color: var(--accent-color-secondary);
  }
}

.button-sigh-up {
  margin-left: 12px;
  text-align: left;
  padding-left: 28px;
  transition: box-shadow var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

/* -------------------------------------------------------------------------- */
/*                              Portfolio button                              */
/* -------------------------------------------------------------------------- */

.button {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: var(--third-background-color);

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);

  color: var(--title-text-color);
  background-color: var(--third-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;

  &:not(:last-child) {
    display: inline-block;
    margin-right: 8px;
  }

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/* -------------------------------------------------------------------------- */
/*                             Button modal submit                            */
/* -------------------------------------------------------------------------- */

.button-modal-submit {
  transition: box-shadow var(--duration) var(--timing-function);

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

/* -------------------------------------------------------------------------- */
/*                               Overlay Button                               */
/* -------------------------------------------------------------------------- */

.overlay-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:focus {
    outline: none;
  }
}

.overlay-svg {
  transition: fill var(--duration) var(--timing-function);

  width: 18px;
  height: 18px;

  .overlay-btn:focus & {
    fill: var(--accent-color);
  }
}
