.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------- Header container ---------------------------- */

.header-container > .container {
  display: flex;
  align-items: center;
}

/* --------------------------- Main-nav container --------------------------- */

.main-nav-container {
  display: flex;
}
